@{
    ViewData["Title"] = "Editar Perfil";
}

<style>
    .contenedor-principal {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .perfil-container {
        width: 700px;
        background: #fff;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        padding: 40px;
        text-align: center;
    }

    h2 {
        color: #333;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border-radius: 6px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        font-size: 16px;
    }

    .btn-custom {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        border-radius: 6px;
        text-decoration: none;
        text-align: center;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }

    .btn-save {
        background: #555;
        color: white;
    }

        .btn-save:hover {
            background: #333;
        }

    .btn-back {
        background: #666;
        color: white;
    }

        .btn-back:hover {
            background: #444;
        }

    .botones-container{
        padding-top:50px;
    }
</style>

<div class="contenedor-principal">
    <div class="perfil-container">
        <h2>Editar Perfil</h2>

        @using (Html.BeginForm("ActualizarCliente", "Cliente", FormMethod.Post))
        {
            <div>
                @Html.Label("Nombre Completo")
                @Html.TextBox("nombre", ViewData["Nombre"], new { @class = "form-control", required = "required" })
            </div>

            <div>
                @Html.Label("Teléfono")
                @Html.TextBox("telefono", ViewData["Telefono"], new { @class = "form-control", required = "required" })
            </div>

            <div>
                @Html.Label("Dirección")
                @Html.TextBox("direccion", ViewData["Direccion"], new { @class = "form-control", required = "required" })
            </div>

            <div>
                @Html.Label("Correo Electrónico")
                @Html.TextBox("correo", ViewData["Correo"], new { @class = "form-control", required = "required", @readonly = "readonly" })
            </div>

            <button type="submit" class="btn-custom btn-save">Guardar Cambios</button>
        }

        <div class="botones-container">
            @Html.ActionLink("Volver", "Index", "Cliente", null, new { @class = "btn-custom btn-back" })
        </div>
    </div>
</div>
